/* ---------------------------------------- CSS Start ---------------------------------------- */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* ---------------------------------------- body ---------------------------------------- */
body{
    margin: 0px;
}
/* ---------------------------------------- Overall Page Div ---------------------------------------- */
.bg{
    min-height: 650px;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    padding-top: 1px;
    overflow-x: hidden; 
}
/* ---------------------------------------- Nav Bar ---------------------------------------- */
.navbar{
    width: 100%;
    height: 75px;
    margin-top: -1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
    background-color: dodgerblue;
    padding: 0px 50px;
}
/* ---------------------------------------- Nav Bar C-Name ---------------------------------------- */
.por{
    color: white;
    animation-name: port;
    animation-duration: 2s;
    animation-iteration-count: 1;
    transition-duration: 0.5s;
}
.por:hover{
    cursor: pointer;
    color: black;
    text-shadow: 0px 0px 5px white;
}
/* ---------------------------------------- C-Name Span ---------------------------------------- */
.spa0{
    color: black;
    transition-duration: 0.5s;
    text-shadow: 0px 0px 5px white;
}
.por:hover .spa0{
    cursor: pointer;
    color: white;
    text-shadow: 0px 0px 5px black;
}
/* ---------------------------------------- Anchor Tags ---------------------------------------- */
.fr{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-top: 0px;
    font-size: 20px;
    animation-name: hom;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
a{
    text-decoration: none;
    color: white;
    transition-duration: 0.5s;
}
a:first-child{
    color: black;
    text-shadow: 0px 0px 5px white;
}
a:hover{
    color: black;
    text-shadow: 0px 0px 5px white;
}
/* ---------------------------------------- Check Box ---------------------------------------- */
.che{
    display: none;
}
label{
    display: none;
}
/* ---------------------------------------- Icon Menu Bar ---------------------------------------- */
input:checked ~ .fr{
    background-color: dodgerblue;
    transition-duration: 1s;
    top: 75px;
}
/* ---------------------------------------- Home Page ---------------------------------------- */
.home{
    min-height: 650px;
    width: 100%;
    background-color: transparent;
    padding-top: 75px;
}
.hhoo{
    min-height: 575px;
    width: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 575px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
.hoh1{
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
    text-align: center;
    animation-name: ho0;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.spa1{
    color: dodgerblue;
}
.hoh2{
    font-size: 40px;
    color: black;
    text-align: center;
    animation-name: ho1;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.hop1{
    font-size: 22px;
    color: black;
    width: 75%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    animation-name: ho2;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.ico1{
    display: flex;
    flex-direction: row;
    gap: 40px;
    animation-name: ho1;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.ico1 > .fa-brands{
    color: dodgerblue;
    font-size: 50px;
    transition-duration: 0.5s;
}
.ico1 > .fa-brands:hover{
    transform: scale(1.5, 1.5);
}
.bt1{
    height: 40px;
    width: 150px;
    background-color: dodgerblue;
    color: black;
    border: 1px solid dodgerblue;
    border-radius: 20px; 
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 40px;
    transition-duration: 0.5s;
    animation-name: ho2;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.bt1:hover{
    transform: scale(1.2, 1.2);
}
/* ---------------------------------------- About Page ---------------------------------------- */
.aboutus{
    min-height: 650px;
    width: 100%;
    background-color: transparent;
    padding-top: 75px;
}
.hoo1{
    font-size: 35px;
}
.colrow{
    display: flex;
    flex-direction: column;
}
.lane{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.line{
    height: 5px;
    width: 100%;
    background-color: dodgerblue;
    transition-duration: 1s;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    animation-name: lian;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.dot{
    height: 20px;
    width: 20px;
    background-color: dodgerblue;
    border: none;
    border-radius: 50%;
    animation-name: dto;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.line:hover{
    width: 80%;
    cursor: pointer;
}
.point{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.abpoi{
    height: 350px;
    width: 25%;
    border-right: 5px solid dodgerblue;
    padding: 10px;
    text-align: center;
    animation-name: abpio;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.abpoi:last-child{
    border: none;
}
.abpoi > p{
    font-size: 20px;
}
.bt2{
    margin-top: 25px;
    animation-name: bbta2;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
/* ---------------------------------------- Gallery Page ---------------------------------------- */
.gallery{
    min-height: 650px;
    width: 100%;
    background-color: transparent;
    padding-top: 75px;
}
.hoo2{
    color: black;
}
.grd{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    box-sizing: border-box;
    padding: 20px;
    animation-name: gdr;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.grd > .box{
    height: 200px;
    width: 300px;
    border: 5px solid dodgerblue;
    background-color: transparent;
    border-radius: 10px;
    transition-duration: 0.5s;
}
.grd > .box:nth-child(even){
    border: 5px solid black;
}
.grd > .box > img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.grd > .box:hover{
    transform: scale(1.1, 1.1);
}
/* ---------------------------------------- Service Page ---------------------------------------- */
.services{
    min-height: 650px;
    width: 100%;
    background-color: transparent;
    padding-top: 75px;
}
.hoo3{
    color: dodgerblue;
}
.spaas2{
    color: black;
}
.servcs{
    min-height: 460px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background-color: transparent;
    animation-name: serms;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.serbox{
    height: 420px;
    width: 404px;
    border-radius: 10px;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    border: 5px solid black;
    /* flex-grow: 1; */
}
.serbox:nth-child(2){
    border: 5px solid dodgerblue;
}
.serbox > img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 0px;
    transition-duration: 2s;
}
.serbox:hover img{
    position: absolute;
    top: -111%;
    border-radius: 0px;
    cursor: pointer;
}
.nnaa{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: transparent;
    position: absolute;
    bottom: 0px;
}
.nnaa > h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.nnaa > p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
    text-align: center;
}
.lu{
    /*margin-left: 20px;*/
    font-size: 15px;
}
.lu > li{
    margin-bottom: 8px;
}
.spa4{
    color: black;
}
.dgbl{
    color: dodgerblue;
}
/* ---------------------------------------- Contact Page ---------------------------------------- */
.contactus{
    min-height: 650px;
    width: 100%;
    background-color: transparent;
    padding-top: 75px;
}
.conus{
    min-height: 460px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 20px;
    justify-content: center;
}
.cousbx{
    height: 420px;
    width: 404px;
    background-color: dodgerblue;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    animation-name: lafs;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.cousbx > h2{
    margin-bottom: 40px;
}
td > .fa-solid{
    color: white;
    font-size: 40px;
    color: black;
} 
td:first-child{
    text-align: center;
    padding-right: 20px;
}
td:last-child{
    text-align: start;
}
td{
    padding-bottom: 20px;
    color: white;
}
.tali{
    padding-bottom: 0px;
}
.cofobx{
    height: 420px;
    width: 404px;
    background-color: transparent;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 2px;
    flex-grow: 1;
    animation-name: lamd;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.sali{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.sali > input{
    height: 44px;
    width: 48%;
    border: 2px solid dodgerblue;
    outline: none;
    color: black;
    padding-left: 10px;
    border-radius: 7px;
    font-size: 17px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
input::placeholder{
    color: black;
}
.inli{
    height: 44px;
    width: 100%;
    border: 2px solid dodgerblue;
    outline: none;
    color: black;
    padding-left: 10px;
    border-radius: 7px;
    font-size: 17px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 20px;
}
.txare{
    height: 150px;
    resize: none;
    padding: 10px;
}
.txare::placeholder{
    color: black;
}
.btfor0{
    height: 44px;
    width: 150px;
    background-color: dodgerblue;
    border: 2px solid dodgerblue;
    border-radius: 10px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    transition-duration: 0.5s;
}
.btfor0:hover{
    transform: scale(1.1, 1.1);
    cursor: pointer;
    color: black
}
.btfor0:hover .spala2{
    color: white;
}
.spala2{
    color: black;
    transition-duration: 0.5s;
}
.ifrls{
    height: 420px;
    width: 404px;
    border: 5px solid black;
    border-radius: 10px;
    flex-grow: 1;
    animation-name: lalas;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
/* ---------------------------------------- Boot Strap ---------------------------------------- */
.bcolg{
    background-color: dodgerblue!important;
}
.bsinp{
    outline:none!important;
}
.bgcol{
    background-color: black!important;
}
.anime1{
    animation-name: ho1;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.anime2{
    animation-name: ho2;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
/* ---------------------------------------- Animations ---------------------------------------- */
@keyframes port{
    from{
        position: relative;
        left: -333px;
    }
    to{
        position: relative;
        left: 0px;
    }
}
@keyframes hom{
    from{
        position: relative;
        right: -600px;
    }
    to{
        position: relative;
        right: 0px;
    }
}
@keyframes ho0{
    from{
        position: relative;
        top: -100px;
    }
    to{
        position: relative;
        top: 0px;
    }
}
@keyframes ho1{
    from{
        position: relative;
        left: -100%;
    }
    to{
        position: relative;
        left: 0px;
    }
}
@keyframes ho2{
    from{
        position: relative;
        right: -100%;
    }
    to{
        position: relative;
        right: 0px;
    }
}
@keyframes bbta2{
    from{
        position: relative;
        left: -100%;
    }
    to{
        position: relative;
        left: 0px;
    }
}
@keyframes lian{
    from{
        width: 0%;
    }
    to{
        width: 100%
    }
}
@keyframes dto{
    from{
        height: 0px;
        width: 0px;
    }
    to{
        height: 20px;
        width: 20px;
    }
}
@keyframes abpio{
    from{
        position: relative;
        right: -100%;
    }
    to{
        position: relative;
        right: 0px;
    }
}
@keyframes gdr{
    from{
        position: relative;
        left: -120%;
    }
    to{
        position: relative;
        left: 0px; 
    }
}
@keyframes serms{
    from{
        position: relative;
        right: -100%;
    }
    to{
        position: relative;
        right: 0px;
    }
}
@keyframes lafs{
    from{
        position: relative;
        left: -50%;
    }
    to{
        position: relative;
        left: 0px;
    }
}
@keyframes lamd{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes lalas{
    from{
        position: relative;
        right: -50%;
    }
    to{
        position: relative;
        right: 0px;
    }
}
/* ---------------------------------------- Media Queries for Mobile Screen ---------------------------------------- */
@media only screen and (max-width: 600px){
    .fr{
        position: absolute;
        left: 0px;
        top: -550%;
        height: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        font-size: 25px;
        padding-left: 50px;
    }
    label{
        display: block;
    }
    .fa-bars{
        color: white;
        font-size: 25px;
        margin-top: -8px;
        animation-name: icobar;
        animation-duration: 2s;
        animation-iteration-count: 1;
    }
    @keyframes icobar{
        from{
            position: relative;
            right: -250px;
        }
        to{
            position: relative;
            right: 0px;
        }
    }
    .hop1{ 
        width: 100%;
    }
    .ico1{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }
    .colrow{
        display: flex;
        flex-direction: row;
    }
    .lane{
        min-height: 650px;
        width: 10px;
        display: flex;
        align-items: center;
        margin-right: 40px;
    }
    .line{
        height: 100%;
        width: 5px;
        background-color: dodgerblue;
        transition-duration: 1s;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .dot{
        height: 20px;
        width: 20px;
        background-color: dodgerblue;
        border: none;
        border-radius: 50%;
    }
    .line:hover{
        height: 80%;
        cursor: pointer;
    }
    .point{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .abpoi{
        height: 28%;
        width: 100%;
        border-bottom: 5px solid dodgerblue;
        border-right: 0px;
        padding: 10px;
        text-align: center;
    }
    @keyframes lian{
        from{
            height: 0%;
        }
        to{
            height: 100%;
        }
    }
}
/* ---------------------------------------- Media Queries for Tablet Screen ---------------------------------------- */
@media only screen and (min-width: 600px) and (max-width: 900px){
    .fr{
        position: absolute;
        left: 0px;
        top: -550%;
        height: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        font-size: 25px;
        padding-left: 50px;
    }
    label{
        display: block;
    }
    .fa-bars{
        color: white;
        font-size: 25px;
        margin-top: -8px;
        animation-name: icobar;
        animation-duration: 2s;
        animation-iteration-count: 1;
    }
    @keyframes icobar{
        from{
            position: relative;
            right: -250px;
        }
        to{
            position: relative;
            right: 0px;
        }
    }
    .hop1{ 
        width: 100%;
    }
    .colrow{
        display: flex;
        flex-direction: row;
    }
    .lane{
        min-height: 650px;
        width: 10px;
        display: flex;
        align-items: center;
        margin-right: 40px;
    }
    .line{
        height: 100%;
        width: 5px;
        background-color: dodgerblue;
        transition-duration: 1s;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .dot{
        height: 20px;
        width: 20px;
        background-color: dodgerblue;
        border: none;
        border-radius: 50%;
    }
    .line:hover{
        height: 80%;
        cursor: pointer;
    }
    .point{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .abpoi{
        height: 25%;
        width: 100%;
        border-bottom: 5px solid dodgerblue;
        border-right: 0px;
        padding: 10px;
        text-align: center;
    }
    @keyframes lian{
        from{
            height: 0%;
        }
        to{
            height: 100%;
        }
    }
}
/* ---------------------------------------- Media Queries for Laptop Mini-Screen ---------------------------------------- */
@media only screen and (min-width: 900px) and (max-width: 1200px){
    .colrow{
        display: flex;
        flex-direction: row;
    }
    .lane{
        min-height: 650px;
        width: 10px;
        display: flex;
        align-items: center;
        margin-right: 40px;
    }
    .line{
        height: 100%;
        width: 5px;
        background-color: dodgerblue;
        transition-duration: 1s;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .dot{
        height: 20px;
        width: 20px;
        background-color: dodgerblue;
        border: none;
        border-radius: 50%;
    }
    .line:hover{
        height: 80%;
        cursor: pointer;
    }
    .point{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .abpoi{
        height: 25%;
        width: 100%;
        border-bottom: 5px solid dodgerblue;
        border-right: 0px;
        padding: 10px;
        text-align: center;
    }
}
/* ---------------------------------------- Gallery Page Media Queries For Mobile Screen ---------------------------------------- */
@media only screen and (max-width: 700px){
    .grd{
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
        justify-content: center;
    }
}
/* ---------------------------------------- Gallery Page Media Queries For Tablet Screen ---------------------------------------- */
@media only screen and (min-width: 700px) and (max-width: 1000px){
    .grd{
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
        justify-content: center;
    }
}
/* ---------------------------------------- Gallery Page Media Queries For Laptop Mini-screen ---------------------------------------- */
@media only screen and (min-width: 1000px) and (max-width: 1350px){
    .grd{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 20px;
        justify-content: center;
    }
}
/* ---------------------------------------- CSS End ---------------------------------------- */